.container {
    overflow: hidden;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
    text-align: center;
}

.right img {
    max-width: 100%;
    max-height: 100%;
}
